.place__link {
    margin: 0;
    color: white;
    opacity: 1;
    line-height: 22px;
    font-size: 18px;
    font-family: 'Inter', 'Arial', sans-serif;
    width: 100%;
}

.place__link:hover {
    opacity: 0.8;
}