.place__website {
    align-self: flex-end;
    padding-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__website {
        padding-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        min-width: 352px;
        padding-left: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        min-width: 288px;
        align-self: flex-start;
        padding: 0;
    }
}